body {
background-color: e5e5e5;
}


.div_txt{
font-family: 'Lato', sans-serif;
color: #fff;
text-align: left;
font-weight: 300;
color:red;
}

.top-div {
height:800px;
background-color: #363636;
}	
.mid-div {


}	
.myName{

padding-left:10px;
}