body {
font-family: 'Lato', sans-serif;
color: #fff;
text-align: left;
font-weight: 300;
color:red;
}


#div_txt{
font-family: 'Lato', sans-serif;
color: #fff;
text-align: left;
font-weight: 300;
color:red;
}
#div_warn{

width:300px;

}



